In [2]:
import pandas as pd
import re

pd.set_option('display.max_columns', None)

In [3]:
db = pd.read_csv('C://Users//eduar//Desktop//DEV//Football//SerieA//database.csv',index_col=None)

In [8]:
# Agrupar os dados por jogador e calcular a soma dos chutes ao gol e a contagem de aparições
db_agrupado = db_final.groupby(['Jogador','Equipe']).agg(
    Total_Gols=('Gols','sum'),
    Total_Chutes=('TC', 'sum'),   # Soma dos chutes ao gol
    Aparicoes=('Jogador', 'count'), # Contagem de aparições
    Total_Chutes_Gol=('CaG', 'sum'), # Contagem de aparições
).sort_values(by='Total_Chutes', ascending=False)  # Ordenar antes do reset_index

# Adicionar uma coluna de ranking
db_agrupado['Ranking'] = db_agrupado['Total_Chutes'].rank(method='min', ascending=False).astype(int)

# Adicionar uma coluna de média (Total_Chutes / Aparicoes)
db_agrupado['Média_Chutes'] = round(db_agrupado['Total_Chutes'] / db_agrupado['Aparicoes'],2)

db_agrupado['Média_Chutes_Gol'] = round(db_agrupado['Total_Chutes_Gol'] / db_agrupado['Aparicoes'],2)

# Resetar o índice
db_agrupado.reset_index(inplace=True)

# Reorganizar as colunas para que o Ranking seja a primeira
db_agrupado = db_agrupado[['Ranking', 'Jogador','Equipe' ,'Aparicoes','Total_Gols','Total_Chutes','Média_Chutes','Total_Chutes_Gol','Média_Chutes_Gol']]

In [9]:
db_agrupado

,Ranking,Jogador,Equipe,Aparicoes,Total_Gols,Total_Chutes,Média_Chutes,Total_Chutes_Gol,Média_Chutes_Gol
0,1,Khvicha Kvaratskhelia,Napoli,3,1,16,5.33,6,2.00
1,2,Valentín Castellanos,Lazio,3,2,14,4.67,5,1.67
2,3,Rafael Leão,Milan,3,1,12,4.00,3,1.00
3,3,Duván Zapata,Torino,3,1,12,4.00,5,1.67
4,5,Roberto Piccoli,Cagliari,3,1,11,3.67,2,0.67
...,...,...,...,...,...,...,...,...,...
356,243,Lassana Coulibaly,Lecce,3,0,0,0.00,0,0.00
357,243,Lorenzo Anghelè,Juventus,1,0,0,0.00,0,0.00
358,243,Lorenzo Montipò,Hellas Verona,3,0,0,0.00,0,0.00
359,243,Luca Ranieri,Fiorentina,2,0,0,0.00,0,0.00
360,243,Łukasz Skorupski,Bologna,3,0,0,0.00,0,0.00

In [19]:
filtro = db_agrupado['Equipe'].isin(['Milan','Venezia'])
# Selecionar os 10 jogadores com o maior número de chutes
top_10_chutadores = db_agrupado[filtro].nlargest(10, 'Média_Chutes')
top_10_chutadores

,Ranking,Jogador,Equipe,Aparicoes,Total_Gols,Total_Chutes,Média_Chutes,Total_Chutes_Gol,Média_Chutes_Gol
2,3,Rafael Leão,Milan,3,1,12,4.00,3,1.00
92,72,Ridgeciano Haps,Venezia,1,0,3,3.00,1,1.00
15,15,Yunus Musah,Milan,3,0,7,2.33,0,0.00
24,23,Christian Pulisic,Milan,3,1,6,2.00,2,0.67
59,48,Hans Nicolussi Caviglia,Venezia,2,0,4,2.00,3,1.50
37,33,Noah Okafor,Milan,3,1,5,1.67,2,0.67
40,33,Tijjani Reijnders,Milan,3,0,5,1.67,2,0.67
78,72,Strahinja Pavlović,Milan,2,1,3,1.50,2,1.00
80,72,Jay Idzes,Venezia,2,0,3,1.50,0,0.00
51,48,Theo Hernández,Milan,3,0,4,1.33,0,0.00

In [20]:
db_final[db_final['Jogador']=='Rafael Leão']

,Equipe,Jogador,#,Nação,Pos.,Idade,Min.,Gols,Assis.,PB,PT,TC,CaG,CrtsA,CrtV,Contatos,Div,Crts,Bloqueios,xG,npxG,xAG,SCA,GCA,Cmp,Att,Cmp%,PrgP,Conduções,PrgC,Tent,Suc,Data
65,Milan,Rafael Leão,10.0,POR,LW,25-068,90,0,0,0,0,7,2,0,0,51,0,0,1,0.9,0.9,0.3,9,0,33,39,"84,6",9,37,6,3,2,2024-08-17
359,Milan,Rafael Leão,10.0,POR,LW,25-075,90,0,1,0,0,4,0,0,0,52,0,1,0,0.2,0.2,0.9,6,2,29,42,"69,0",5,35,9,5,3,2024-08-24
769,Milan,Rafael Leão,10.0,POR,LW,25-082,21,1,0,0,0,1,1,0,0,12,0,0,0,0.2,0.2,0.0,0,0,8,10,"80,0",2,7,0,1,0,2024-08-31